{% include partials/meta_open %}

<article class="post">
  <h1>{{ title }}</h1>
  <footer class="byline">
    <p>posted on {{ date | date: "%d %b, %Y" }} by {{ author }}</p>
  </footer>
  {{ content }}

  <nav aria-labelledby="post-pagination">
    <h2 id="post-pagination" class="visually-hidden">Previous/Next Post</h2>
    <ul class="prev-next-posts">
      <li class="previous">{% if prevPost.url %}<a href="{{ prevPost.url }}">&laquo; {{ prevPost.data.title }}</a>{% else %}<a href="/contents">&laquo; Table of Contents</a>{% endif %}</li>
      <li class="next">{% if nextPost.url %}<a href="{{ nextPost.url }}">{{ nextPost.data.title }} &raquo;</a>{% endif %}</li>
    </ul>
  </nav>

</article>

{% include partials/meta_close %}